main {
  padding: 3rem;
}

form {
  margin-bottom: 1.5rem;
}

label {
  display: block;
  margin-bottom: .5rem;
}

input {
  font-size: .75rem;
  width: 2rem;
  margin: 0 .5rem;
}

button {
  font-size: .75rem;
}

.grid-container {
  padding-top: 1rem;
  padding-left: .5rem;
}

table {
  border-collapse: collapse;
}

td {
  width: 1.5rem;
  height: 1.5rem;
  border: 1px solid black;
  line-height: 0;
  text-align: center;
  vertical-align: middle;
}

.tied td {
  background-color: red;
  color: white;
}

.win {
  background-color: green;
  color: white;
}
